In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt 
import seaborn as sns 
import acquire 
import requests

### making HTTP Requests

In [2]:
#example 
response = requests.get('http://aphorisms.glitch.me/')
response

### Example JSON API

In [3]:
url = 'https://swapi.dev/api/people/5'
response = requests.get(url)
print(response.text)

{"name":"Leia Organa","height":"150","mass":"49","hair_color":"brown","skin_color":"light","eye_color":"brown","birth_year":"19BBY","gender":"female","homeworld":"https://swapi.dev/api/planets/2/","films":["https://swapi.dev/api/films/1/","https://swapi.dev/api/films/2/","https://swapi.dev/api/films/3/","https://swapi.dev/api/films/6/"],"species":[],"vehicles":["https://swapi.dev/api/vehicles/30/"],"starships":[],"created":"2014-12-10T15:20:09.791000Z","edited":"2014-12-20T21:17:50.315000Z","url":"https://swapi.dev/api/people/5/"}

In [4]:
{"name":"Leia Organa","height":"150","mass":"49","hair_color":"brown","skin_color":"light","eye_color":"brown","birth_year":"19BBY","gender":"female","homeworld":"https://swapi.dev/api/planets/2/","films":["https://swapi.dev/api/films/1/","https://swapi.dev/api/films/2/","https://swapi.dev/api/films/3/","https://swapi.dev/api/films/6/"],"species":[],"vehicles":["https://swapi.dev/api/vehicles/30/"],"starships":[],"created":"2014-12-10T15:20:09.791000Z","edited":"2014-12-20T21:17:50.315000Z","url":"https://swapi.dev/api/people/5/"}

{'name': 'Leia Organa',
 'height': '150',
 'mass': '49',
 'hair_color': 'brown',
 'skin_color': 'light',
 'eye_color': 'brown',
 'birth_year': '19BBY',
 'gender': 'female',
 'homeworld': 'https://swapi.dev/api/planets/2/',
 'films': ['https://swapi.dev/api/films/1/',
  'https://swapi.dev/api/films/2/',
  'https://swapi.dev/api/films/3/',
  'https://swapi.dev/api/films/6/'],
 'species': [],
 'vehicles': ['https://swapi.dev/api/vehicles/30/'],
 'starships': [],
 'created': '2014-12-10T15:20:09.791000Z',
 'edited': '2014-12-20T21:17:50.315000Z',
 'url': 'https://swapi.dev/api/people/5/'}

In [5]:
#use .json to get a data structure to work with
data = response.json()
print(type(data))
data

<class 'dict'>

{'name': 'Leia Organa',
 'height': '150',
 'mass': '49',
 'hair_color': 'brown',
 'skin_color': 'light',
 'eye_color': 'brown',
 'birth_year': '19BBY',
 'gender': 'female',
 'homeworld': 'https://swapi.dev/api/planets/2/',
 'films': ['https://swapi.dev/api/films/1/',
  'https://swapi.dev/api/films/2/',
  'https://swapi.dev/api/films/3/',
  'https://swapi.dev/api/films/6/'],
 'species': [],
 'vehicles': ['https://swapi.dev/api/vehicles/30/'],
 'starships': [],
 'created': '2014-12-10T15:20:09.791000Z',
 'edited': '2014-12-20T21:17:50.315000Z',
 'url': 'https://swapi.dev/api/people/5/'}

### Examine different API

In [6]:
base_url = 'https://python.zgulde.net'
print(requests.get(base_url).text)

{"api":"/api/v1","help":"/documentation"}

In [7]:
{"api":"/api/v1","help":"/documentation"}

{'api': '/api/v1', 'help': '/documentation'}

In [8]:
response = requests.get(base_url + '/documentation')
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [9]:
response = requests.get('https://python.zgulde.net/api/v1/items')

data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [10]:
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [11]:
current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

current_page: 1
max_page: 3
next_page: /api/v1/items?page=2

In [12]:
data['payload']['items'][:2]

[{'item_brand': 'Riceland',
  'item_id': 1,
  'item_name': 'Riceland American Jazmine Rice',
  'item_price': 0.84,
  'item_upc12': '35200264013',
  'item_upc14': '35200264013'},
 {'item_brand': 'Caress',
  'item_id': 2,
  'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
  'item_price': 6.44,
  'item_upc12': '11111065925',
  'item_upc14': '11111065925'}]

In [13]:
#turn this request into a pandas dataframe 
df = pd.DataFrame(data['payload']['items'])
df.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [14]:
#now that we've gotten the data from the first page, we can extract the data from the next page and add it to our DF
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

df = pd.concat([df, pd.DataFrame(data['payload']['items'])]).reset_index()

current_page: 2
max_page: 3
next_page: /api/v1/items?page=3

In [15]:
#repeat the process again 
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

df = pd.concat([df, pd.DataFrame(data['payload']['items'])]).reset_index()

current_page: 3
max_page: 3
next_page: None

In [16]:
#When the next_page is 'none', we'll stop making requests 
df.shape

(50, 8)

### Exercises

In [17]:
# Examine just the base URL 
base_url = requests.get('https://api.data.codeup.com')

In [18]:
response = base_url

In [19]:
print(response.text)

{"api":"/api/v1","help":"/documentation"}

In [20]:
#The API provides some documentation; here is the code to examine it 
url = 'https://api.data.codeup.com/documentation'
response = requests.get(url)
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [21]:
# Examine items 
response = requests.get('https://api.data.codeup.com/api/v1/items')
data = response.json()
# look at the dictionary keys 
data.keys()

dict_keys(['payload', 'status'])

In [22]:
#within payload, let's look at the keys/content
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [23]:
#use built-in properties to get to subsequent pages and look at the shape of the pages 
current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

current_page: 1
max_page: 3
next_page: /api/v1/items?page=2

In [24]:
# turn the data into a pandas dataframe 
df = pd.DataFrame(data['payload']['items'])
df.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [25]:
df.shape

(20, 6)

In [26]:
# define the base url 
domain = 'https://api.data.codeup.com'
# path or where we are accessing the data inside the url 
endpoint = '/api/v1/items'
# create an empty list to place the data within 
items = []
# combine base and endpoint to allow for looping 
url = domain + endpoint 
#making a request and storing the response to the request as a string 
response = requests.get(url)
#storing the response in json form 
data = response.json()
# .extend adds elements from a list to another list 
items.extend(data['payload']['items'])
# reassigning the endpoint variable to have the path to the next page 
endpoint = data['payload']['next_page']

In [27]:
items = pd.DataFrame(items)
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [28]:
data ['payload']['next_page']

'/api/v1/items?page=2'

In [29]:
url = domain + data['payload']['next_page']
print('next url:', url)

next url: https://api.data.codeup.com/api/v1/items?page=2

In [30]:
'''
print('next endpoint', data['payload']['next_page'])
url = domain + data['payload']['next_page']
print('next_url:', url)
'''

"\nprint('next endpoint', data['payload']['next_page'])\nurl = domain + data['payload']['next_page']\nprint('next_url:', url)\n"

In [31]:
items = pd.DataFrame(items)
items

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036
5,Sally Hansen,6,Sally Hansen Nail Color Magnetic 903 Silver El...,6.93,74170388732,74170388732
6,Twinings Of London,7,Twinings Of London Classics Lady Grey Tea - 20 Ct,9.64,70177154004,70177154004
7,Lea & Perrins,8,Lea & Perrins Marinade In-a-bag Cracked Pepper...,1.68,51600080015,51600080015
8,Van De Kamps,9,Van De Kamps Fillets Beer Battered - 10 Ct,1.79,19600923015,19600923015
9,Ahold,10,Ahold Cocoa Almonds,3.17,688267141676,688267141676
10,Honest Tea,11,Honest Tea Peach White Tea,3.93,657622604842,657622604842
11,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211
12,Garnier Nutritioniste,13,Garnier Nutritioniste Moisture Rescue Fresh Cl...,6.47,603084234561,603084234561
13,Pamprin,14,Pamprin Maximum Strength Multi-symptom Menstru...,7.54,41167300121,41167300121
14,Suave,15,Suave Naturals Moisturizing Body Wash Creamy T...,9.11,79400847201,79400847201
15,Burts Bees,16,Burts Bees Daily Moisturizing Cream Sensitive,5.17,792850014008,792850014008
16,Ducal,17,Ducal Refried Red Beans,1.16,88313590791,88313590791
17,Scotch,18,Scotch Removable Clear Mounting Squares - 35 Ct,4.39,21200725340,21200725340
18,Careone,19,Careone Family Comb Set - 8 Ct,0.74,41520035646,41520035646
19,Usda Produce,20,Plums Black,5.62,204040000000,204040000000

In [32]:
items.to_csv('items', index = False)

#### Repeat again for stores

In [33]:
# Examine items 
response = requests.get('https://python.zgulde.net/api/v1/stores')
data = response.json()
#look at the dictionary keys 
data.keys()

dict_keys(['payload', 'status'])

In [34]:
#within payload, let's look at the keys/content
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [35]:
#use built-in properties to get to subsequent pages and look at the shape of the pages 
current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

current_page: 1
max_page: 1
next_page: None

In [36]:
# turn the data into a pandas dataframe 
df = pd.DataFrame(data['payload']['stores'])
df.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [37]:
#examine the shape
df.shape

(10, 5)

In [38]:
# create dataframe for i 
stores = df 
stores

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

In [39]:
stores.to_csv('stores', index = False)

### Extract the data for sales

In [40]:
# Examine items 
response = requests.get('https://python.zgulde.net/api/v1/sales')
data = response.json()
#look at the dictionary keys 
data.keys()

dict_keys(['payload', 'status'])

In [41]:
#within payload, let's look at the keys/content
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

In [42]:
#use built-in properties to get to subsequent pages and look at the shape of the pages 
current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

current_page: 1
max_page: 183
next_page: /api/v1/sales?page=2

In [43]:
#define the base_url 
base_url = 'https://api.data.codeup.com/api/v1/sales?page='
#provide an open list to extend to 
sales = []
#make the first request 
url = base_url + str(1)
#use requests to get url and store as variable 
response = requests.get(url)
#store variable into json file 
data = response.json()
#define max page 
max_page = data['payload']['max_page']
#add payload sales as first entry to sales list defined earlier 
sales.extend(data['payload']['sales'])

#first page request is complete, now to add the rest of the dataframe 
#Add 1 to max_page because the range() function is exclusive of the endpoint 

page_range = range(2, max_page + 1)

for page in page_range: 
    '''
    #define the base url 
    domain = 'https://api.data.codeup.com'
    # path or where we are accessing the data inside the url
    endpoint = '/api/v1/sales'
    # create an empty list to place the data within 
    sales = []
    
    while True: 
    #combine base and endpoint to allow for looping 
    url = domain + endpoint 
    #making a request and storing the response to the request as a string 
    response = requests.get(url)
    #storing the response in json form 
    data = response.json()
    #prints the page number for which the data is being acquired out of the total number of pages, as well as the URL
    # the \r replaces the previous print statement with the new one based on the number of characters in the new statement.
    print(f'\rGetting page {data['payload']['page']}) of {data['payload']['max_page']}: {url}', end='')
    # .extend adds elements from a list to another list 
    items.extend(data['payload']['sales'])
    # reassigning the endpoint variable to have the path to the next page. 
    endpoint = data['payload']['next_page']
    if endpint is None: 
    break
    ''' 
    url = base_url + str(page)
    print(f'/rFetching page {page}/{max_page} {url}', end='')
    response = requests.get(url)
    data = response.json()
    sales.extend(data['payload']['sales'])

/rFetching page 2/183 https://api.data.codeup.com/api/v1/sales?page=2/rFetching page 3/183 https://api.data.codeup.com/api/v1/sales?page=3/rFetching page 4/183 https://api.data.codeup.com/api/v1/sales?page=4/rFetching page 5/183 https://api.data.codeup.com/api/v1/sales?page=5/rFetching page 6/183 https://api.data.codeup.com/api/v1/sales?page=6/rFetching page 7/183 https://api.data.codeup.com/api/v1/sales?page=7/rFetching page 8/183 https://api.data.codeup.com/api/v1/sales?page=8/rFetching page 9/183 https://api.data.codeup.com/api/v1/sales?page=9/rFetching page 10/183 https://api.data.codeup.com/api/v1/sales?page=10/rFetching page 11/183 https://api.data.codeup.com/api/v1/sales?page=11/rFetching page 12/183 https://api.data.codeup.com/api/v1/sales?page=12/rFetching page 13/183 https://api.data.codeup.com/api/v1/sales?page=13/rFetching page 14/183 https://api.data.codeup.com/api/v1/sales?page=14/rFetching page 15/183 https://api.data.codeup.com/api/v1/sales?page=15/rFetching page 16/183 https://api.data.codeup.com/api/v1/sales?page=16/rFetching page 17/183 https://api.data.codeup.com/api/v1/sales?page=17/rFetching page 18/183 https://api.data.codeup.com/api/v1/sales?page=18/rFetching page 19/183 https://api.data.codeup.com/api/v1/sales?page=19/rFetching page 20/183 https://api.data.codeup.com/api/v1/sales?page=20/rFetching page 21/183 https://api.data.codeup.com/api/v1/sales?page=21/rFetching page 22/183 https://api.data.codeup.com/api/v1/sales?page=22/rFetching page 23/183 https://api.data.codeup.com/api/v1/sales?page=23/rFetching page 24/183 https://api.data.codeup.com/api/v1/sales?page=24/rFetching page 25/183 https://api.data.codeup.com/api/v1/sales?page=25/rFetching page 26/183 https://api.data.codeup.com/api/v1/sales?page=26/rFetching page 27/183 https://api.data.codeup.com/api/v1/sales?page=27/rFetching page 28/183 https://api.data.codeup.com/api/v1/sales?page=28/rFetching page 29/183 https://api.data.codeup.com/api/v1/sales?page=29/rFetching page 30/183 https://api.data.codeup.com/api/v1/sales?page=30/rFetching page 31/183 https://api.data.codeup.com/api/v1/sales?page=31/rFetching page 32/183 https://api.data.codeup.com/api/v1/sales?page=32/rFetching page 33/183 https://api.data.codeup.com/api/v1/sales?page=33/rFetching page 34/183 https://api.data.codeup.com/api/v1/sales?page=34/rFetching page 35/183 https://api.data.codeup.com/api/v1/sales?page=35/rFetching page 36/183 https://api.data.codeup.com/api/v1/sales?page=36/rFetching page 37/183 https://api.data.codeup.com/api/v1/sales?page=37/rFetching page 38/183 https://api.data.codeup.com/api/v1/sales?page=38/rFetching page 39/183 https://api.data.codeup.com/api/v1/sales?page=39/rFetching page 40/183 https://api.data.codeup.com/api/v1/sales?page=40/rFetching page 41/183 https://api.data.codeup.com/api/v1/sales?page=41/rFetching page 42/183 https://api.data.codeup.com/api/v1/sales?page=42/rFetching page 43/183 https://api.data.codeup.com/api/v1/sales?page=43/rFetching page 44/183 https://api.data.codeup.com/api/v1/sales?page=44/rFetching page 45/183 https://api.data.codeup.com/api/v1/sales?page=45/rFetching page 46/183 https://api.data.codeup.com/api/v1/sales?page=46/rFetching page 47/183 https://api.data.codeup.com/api/v1/sales?page=47/rFetching page 48/183 https://api.data.codeup.com/api/v1/sales?page=48/rFetching page 49/183 https://api.data.codeup.com/api/v1/sales?page=49/rFetching page 50/183 https://api.data.codeup.com/api/v1/sales?page=50/rFetching page 51/183 https://api.data.codeup.com/api/v1/sales?page=51/rFetching page 52/183 https://api.data.codeup.com/api/v1/sales?page=52/rFetching page 53/183 https://api.data.codeup.com/api/v1/sales?page=53/rFetching page 54/183 https://api.data.codeup.com/api/v1/sales?page=54/rFetching page 55/183 https://api.data.codeup.com/api/v1/sales?page=55/rFetching page 56/183 https://api.data.codeup.com/api/v1/sales?page=56/rFetching page 57/183 https://api.data.codeup.com/api/v1/sales?page=57/rFetching page 58/183 https://api.data.codeup.com/api/v1/sales?page=58/rFetching page 59/183 https://api.data.codeup.com/api/v1/sales?page=59/rFetching page 60/183 https://api.data.codeup.com/api/v1/sales?page=60/rFetching page 61/183 https://api.data.codeup.com/api/v1/sales?page=61/rFetching page 62/183 https://api.data.codeup.com/api/v1/sales?page=62/rFetching page 63/183 https://api.data.codeup.com/api/v1/sales?page=63/rFetching page 64/183 https://api.data.codeup.com/api/v1/sales?page=64/rFetching page 65/183 https://api.data.codeup.com/api/v1/sales?page=65/rFetching page 66/183 https://api.data.codeup.com/api/v1/sales?page=66/rFetching page 67/183 https://api.data.codeup.com/api/v1/sales?page=67/rFetching page 68/183 https://api.data.codeup.com/api/v1/sales?page=68/rFetching page 69/183 https://api.data.codeup.com/api/v1/sales?page=69/rFetching page 70/183 https://api.data.codeup.com/api/v1/sales?page=70/rFetching page 71/183 https://api.data.codeup.com/api/v1/sales?page=71/rFetching page 72/183 https://api.data.codeup.com/api/v1/sales?page=72/rFetching page 73/183 https://api.data.codeup.com/api/v1/sales?page=73/rFetching page 74/183 https://api.data.codeup.com/api/v1/sales?page=74/rFetching page 75/183 https://api.data.codeup.com/api/v1/sales?page=75/rFetching page 76/183 https://api.data.codeup.com/api/v1/sales?page=76/rFetching page 77/183 https://api.data.codeup.com/api/v1/sales?page=77/rFetching page 78/183 https://api.data.codeup.com/api/v1/sales?page=78/rFetching page 79/183 https://api.data.codeup.com/api/v1/sales?page=79/rFetching page 80/183 https://api.data.codeup.com/api/v1/sales?page=80/rFetching page 81/183 https://api.data.codeup.com/api/v1/sales?page=81/rFetching page 82/183 https://api.data.codeup.com/api/v1/sales?page=82/rFetching page 83/183 https://api.data.codeup.com/api/v1/sales?page=83/rFetching page 84/183 https://api.data.codeup.com/api/v1/sales?page=84/rFetching page 85/183 https://api.data.codeup.com/api/v1/sales?page=85/rFetching page 86/183 https://api.data.codeup.com/api/v1/sales?page=86/rFetching page 87/183 https://api.data.codeup.com/api/v1/sales?page=87/rFetching page 88/183 https://api.data.codeup.com/api/v1/sales?page=88/rFetching page 89/183 https://api.data.codeup.com/api/v1/sales?page=89/rFetching page 90/183 https://api.data.codeup.com/api/v1/sales?page=90/rFetching page 91/183 https://api.data.codeup.com/api/v1/sales?page=91/rFetching page 92/183 https://api.data.codeup.com/api/v1/sales?page=92/rFetching page 93/183 https://api.data.codeup.com/api/v1/sales?page=93/rFetching page 94/183 https://api.data.codeup.com/api/v1/sales?page=94/rFetching page 95/183 https://api.data.codeup.com/api/v1/sales?page=95/rFetching page 96/183 https://api.data.codeup.com/api/v1/sales?page=96/rFetching page 97/183 https://api.data.codeup.com/api/v1/sales?page=97/rFetching page 98/183 https://api.data.codeup.com/api/v1/sales?page=98/rFetching page 99/183 https://api.data.codeup.com/api/v1/sales?page=99/rFetching page 100/183 https://api.data.codeup.com/api/v1/sales?page=100/rFetching page 101/183 https://api.data.codeup.com/api/v1/sales?page=101/rFetching page 102/183 https://api.data.codeup.com/api/v1/sales?page=102/rFetching page 103/183 https://api.data.codeup.com/api/v1/sales?page=103/rFetching page 104/183 https://api.data.codeup.com/api/v1/sales?page=104/rFetching page 105/183 https://api.data.codeup.com/api/v1/sales?page=105/rFetching page 106/183 https://api.data.codeup.com/api/v1/sales?page=106/rFetching page 107/183 https://api.data.codeup.com/api/v1/sales?page=107/rFetching page 108/183 https://api.data.codeup.com/api/v1/sales?page=108/rFetching page 109/183 https://api.data.codeup.com/api/v1/sales?page=109/rFetching page 110/183 https://api.data.codeup.com/api/v1/sales?page=110/rFetching page 111/183 https://api.data.codeup.com/api/v1/sales?page=111/rFetching page 112/183 https://api.data.codeup.com/api/v1/sales?page=112/rFetching page 113/183 https://api.data.codeup.com/api/v1/sales?page=113/rFetching page 114/183 https://api.data.codeup.com/api/v1/sales?page=114/rFetching page 115/183 https://api.data.codeup.com/api/v1/sales?page=115/rFetching page 116/183 https://api.data.codeup.com/api/v1/sales?page=116/rFetching page 117/183 https://api.data.codeup.com/api/v1/sales?page=117

/rFetching page 118/183 https://api.data.codeup.com/api/v1/sales?page=118/rFetching page 119/183 https://api.data.codeup.com/api/v1/sales?page=119/rFetching page 120/183 https://api.data.codeup.com/api/v1/sales?page=120/rFetching page 121/183 https://api.data.codeup.com/api/v1/sales?page=121/rFetching page 122/183 https://api.data.codeup.com/api/v1/sales?page=122/rFetching page 123/183 https://api.data.codeup.com/api/v1/sales?page=123/rFetching page 124/183 https://api.data.codeup.com/api/v1/sales?page=124/rFetching page 125/183 https://api.data.codeup.com/api/v1/sales?page=125/rFetching page 126/183 https://api.data.codeup.com/api/v1/sales?page=126/rFetching page 127/183 https://api.data.codeup.com/api/v1/sales?page=127/rFetching page 128/183 https://api.data.codeup.com/api/v1/sales?page=128/rFetching page 129/183 https://api.data.codeup.com/api/v1/sales?page=129/rFetching page 130/183 https://api.data.codeup.com/api/v1/sales?page=130/rFetching page 131/183 https://api.data.codeup.com/api/v1/sales?page=131/rFetching page 132/183 https://api.data.codeup.com/api/v1/sales?page=132/rFetching page 133/183 https://api.data.codeup.com/api/v1/sales?page=133/rFetching page 134/183 https://api.data.codeup.com/api/v1/sales?page=134/rFetching page 135/183 https://api.data.codeup.com/api/v1/sales?page=135/rFetching page 136/183 https://api.data.codeup.com/api/v1/sales?page=136/rFetching page 137/183 https://api.data.codeup.com/api/v1/sales?page=137/rFetching page 138/183 https://api.data.codeup.com/api/v1/sales?page=138/rFetching page 139/183 https://api.data.codeup.com/api/v1/sales?page=139/rFetching page 140/183 https://api.data.codeup.com/api/v1/sales?page=140/rFetching page 141/183 https://api.data.codeup.com/api/v1/sales?page=141/rFetching page 142/183 https://api.data.codeup.com/api/v1/sales?page=142/rFetching page 143/183 https://api.data.codeup.com/api/v1/sales?page=143/rFetching page 144/183 https://api.data.codeup.com/api/v1/sales?page=144/rFetching page 145/183 https://api.data.codeup.com/api/v1/sales?page=145/rFetching page 146/183 https://api.data.codeup.com/api/v1/sales?page=146/rFetching page 147/183 https://api.data.codeup.com/api/v1/sales?page=147/rFetching page 148/183 https://api.data.codeup.com/api/v1/sales?page=148/rFetching page 149/183 https://api.data.codeup.com/api/v1/sales?page=149/rFetching page 150/183 https://api.data.codeup.com/api/v1/sales?page=150/rFetching page 151/183 https://api.data.codeup.com/api/v1/sales?page=151/rFetching page 152/183 https://api.data.codeup.com/api/v1/sales?page=152/rFetching page 153/183 https://api.data.codeup.com/api/v1/sales?page=153/rFetching page 154/183 https://api.data.codeup.com/api/v1/sales?page=154/rFetching page 155/183 https://api.data.codeup.com/api/v1/sales?page=155/rFetching page 156/183 https://api.data.codeup.com/api/v1/sales?page=156/rFetching page 157/183 https://api.data.codeup.com/api/v1/sales?page=157/rFetching page 158/183 https://api.data.codeup.com/api/v1/sales?page=158/rFetching page 159/183 https://api.data.codeup.com/api/v1/sales?page=159/rFetching page 160/183 https://api.data.codeup.com/api/v1/sales?page=160/rFetching page 161/183 https://api.data.codeup.com/api/v1/sales?page=161/rFetching page 162/183 https://api.data.codeup.com/api/v1/sales?page=162/rFetching page 163/183 https://api.data.codeup.com/api/v1/sales?page=163/rFetching page 164/183 https://api.data.codeup.com/api/v1/sales?page=164/rFetching page 165/183 https://api.data.codeup.com/api/v1/sales?page=165/rFetching page 166/183 https://api.data.codeup.com/api/v1/sales?page=166/rFetching page 167/183 https://api.data.codeup.com/api/v1/sales?page=167/rFetching page 168/183 https://api.data.codeup.com/api/v1/sales?page=168/rFetching page 169/183 https://api.data.codeup.com/api/v1/sales?page=169/rFetching page 170/183 https://api.data.codeup.com/api/v1/sales?page=170/rFetching page 171/183 https://api.data.codeup.com/api/v1/sales?page=171/rFetching page 172/183 https://api.data.codeup.com/api/v1/sales?page=172/rFetching page 173/183 https://api.data.codeup.com/api/v1/sales?page=173/rFetching page 174/183 https://api.data.codeup.com/api/v1/sales?page=174/rFetching page 175/183 https://api.data.codeup.com/api/v1/sales?page=175/rFetching page 176/183 https://api.data.codeup.com/api/v1/sales?page=176/rFetching page 177/183 https://api.data.codeup.com/api/v1/sales?page=177/rFetching page 178/183 https://api.data.codeup.com/api/v1/sales?page=178/rFetching page 179/183 https://api.data.codeup.com/api/v1/sales?page=179/rFetching page 180/183 https://api.data.codeup.com/api/v1/sales?page=180/rFetching page 181/183 https://api.data.codeup.com/api/v1/sales?page=181/rFetching page 182/183 https://api.data.codeup.com/api/v1/sales?page=182/rFetching page 183/183 https://api.data.codeup.com/api/v1/sales?page=183

In [44]:
data.keys()

dict_keys(['payload', 'status'])

In [45]:
#create the pd.dataframe 
sales = pd.DataFrame(sales)
sales.head

<bound method NDFrame.head of         item  sale_amount                      sale_date  sale_id  store
0          1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1          1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2          1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3          1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4          1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1
...      ...          ...                            ...      ...    ...
912995    50         63.0  Wed, 27 Dec 2017 00:00:00 GMT   912996     10
912996    50         59.0  Thu, 28 Dec 2017 00:00:00 GMT   912997     10
912997    50         74.0  Fri, 29 Dec 2017 00:00:00 GMT   912998     10
912998    50         62.0  Sat, 30 Dec 2017 00:00:00 GMT   912999     10
912999    50         82.0  Sun, 31 Dec 2017 00:00:00 GMT   913000     10

[913000 rows x 5 columns]>

In [46]:
#export sales to CSV file 
sales.to_csv('sales', index = False)

### Question four complete in above code

### Question five: Combine the data from your three separate dataframes into one large dataframe

In [47]:
#inspect the head of each dataframe 
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [48]:
#inspect the head of each dataframe 
stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [49]:
#inspect the head of each dataframe 
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

In [50]:
#rename columns to have common index to be able to merge data
sales = sales.rename(columns= {'item': 'item_id', 'store': 'store_id'} )

In [51]:
#merge dataframes using pd.merge on common features item_id and store_id
df = pd.merge(sales, items, how='left', on='item_id')
df = pd.merge(df, stores, how= 'left', on='store_id')

In [52]:
df.shape

(913000, 14)

### Acquire the Open power systems data for Germany

In [53]:
#read in csv file using pd.read_csv
germany_electric = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')
germany_electric.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

In [54]:
#review information 
germany_electric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4383 non-null   object
 1   Consumption  4383 non-null   float64
 2   Wind         2920 non-null   float64
 3   Solar        2188 non-null   float64
 4   Wind+Solar   2187 non-null   float64
dtypes: float64(4), object(1)
memory usage: 171.3+ KB

In [55]:
#review shape 
germany_electric.shape

(4383, 5)

In [56]:
#are there any null values 
germany_electric.isna().sum()

Date              0
Consumption       0
Wind           1463
Solar          2195
Wind+Solar     2196
dtype: int64

In [57]:
#export to csv
germany_electric.to_csv('germany electric', index = False)

### Acquire.py imports

In [ ]:
SD = acquire.get_store_item_demand_data()

In [ ]:
GE = acquire.german_electric